.toggler-btn {

    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: var(--background-default);
    border: none;

}

.icon{

    font-size: 30px;
    color: var(--color-btn-hover);
    cursor: pointer;
    
}

