
.body{

    --background-default: #242742;
    --background-default-mobile: #ffffff;
    --background-default-container: #ffffff;
    --background-btn-default:#36384E;
    --color-btn-default:#FFFFFF;
    --color-btn-hover: #FF6257;
    --color-border-input: #e1e1e1;
    --color-error:var(--color-btn-hover );
    --title-color: #242742;
    --text-default: #000000;
    
    }
    
    .dark{
    
        --background-default: #ffffff;
        --background-default-mobile: #242742;
        --background-default-container: #242742;
        --background-btn-default:#ffffff;
        --color-btn-default:#242742;
        --color-btn-hover: #FF6257;
        --color-border-input: #e1e1e1;
        --color-error:var(--color-btn-hover );
        --title-color: #ffffff;
        --text-default: #FFFFFF;
    
    }